.in871InputBoxContainer {
  
  display:flex;
  
  justify-content: center;
  
  align-items: center;
  
  width:100%;
  
  margin:1.3em 0em;
  
  margin-top: 3em;

}

.in871InputBoxContainer input {
  
  margin: 0.5em 0em;
  
  font-weight: bold;
  
  letter-spacing: 0.5px;
  
  color:var(--pageContentColor);
  
  padding: 1em 1.4em;
  
  width:33%;
  
  border:none;
  
  background-color: var(--defaultOnHoverTableContentColor);

}

.in871InputBoxContainer input:focus {
  
  outline: none;

}

.in871InputBoxLabel {
  
  position: absolute;
  
  top:-2em;
  
  left:45%;
  
  color: var(--inputBoxContainerLabelColor);
  
  font-size: .75rem;
  
  margin-bottom: 1rem;
  
  font-weight: bold;
  
  letter-spacing: 0.5px;

}

.in871InputLine {
  
  top: 0em;
  
  left: 48%;
  
  width:12px;
  
  height:1px;
  
  background-color: var(--inputBoxContainerLabelColor);
  
  transform: rotate(90deg);
  
  position: absolute;

}
