.tc903TableContentContainer {

  display: flex;
  
  justify-content: space-between;
  
  font-size:12px;

  padding : 1em;
  
  border:2px dotted var(--defaultOnHoverTableContentColor);
  
  margin:0.5em 0.5em;
  
  cursor: pointer;
  
  transition-duration: 0.5s;
  
  color:var(--pageContentColor);
  
  text-decoration: none;

  /* overflow: scroll; */

}
.tc903TableContentContainer:hover {

  background : var(--defaultOnHoverTableContentColor);

}
.tc903TableContentContainer div {
  
  width:10%;
  
  /* margin:1em 0em; */
  
  cursor: pointer;
  
  background-color: var(--defaultOnHoverTableContentColor);
  
  /* padding: 1em 1.3em; */

  padding: 1em;
  
  border-radius: 5px;
  
  letter-spacing: 0.3px;
  
  font-weight: bold;
  
  /* margin: 1em 1.5em; */
  
  transition-duration: 0.5s;
  
  text-transform: capitalize;
  
  display: flex;
  
  justify-content: center;
  
  align-items:center;
  
  text-align: center;

}
.tc903TableContent {

  text-transform: capitalize;

}

.tc903TableContentConfirmedMore {
  font-size: 0.8em;
  position: absolute;
  right:5px;
  top:3px;

  color:var(--pageRedColorConfirmBox);

}

.tc903TableContentRecoveredMore {
  font-size: 0.8em;
  position: absolute;

  right:5px;
  top:3px;


  color:var(--pageGreenColorRecoveredBox);

}

.tc903TableContentDeceasedMore {
  font-size: 0.8em;
  position: absolute;
  right:5px;
  top:3px;

  color : var(--notificationAboutTagLineColor);

}

.tc903TableContentTestedMore {
  font-size: 0.8em;

  position: absolute;
  right:5px;
  top:3px;

  color : var(--pageBlueColorTestedBox);
}

.tc903TableContentMainBox {
  position: relative;

}

@media(max-width:768px) {

  .tc903TableContentContainer div {
    width: 100%;
    margin: 0em 1.2em;
  }

  .tc903TableContentContainer{
    overflow: scroll;
  }

}
