.tabt982TableTag {

  cursor: pointer;
  
  background-color: var(--defaultOnHoverTableContentColor);
  
  padding:1em 1.3em;
  
  border-radius: 5px;
  
  letter-spacing: 0.3px;
  
  font-weight: bold;
  
  margin:1em 1.5em;
  
  transition-duration: 0.5s;
  
  text-transform: capitalize;
  
  width:10%;
  
  display: flex;
  
  justify-content: center;

  position:relative;
  
  align-items: center;
  
  text-align: center;

}
.tabt982TableTag:hover {

  background:var(--tableTagContainerTagOnHoverColor);

}

.tabt982TableIconAsc {

  position: absolute;

  right : 5px;

  top:5px;

}

.tabt982TableIconDesc {

  position: absolute;

  right : 5px;

  bottom:  5px;

}
