.tab760TableContainer {

  display:flex;
  
  justify-content: space-evenly;
  
  font-size:0.8em;
  
  border:1px solid var(--defaultOnHoverTableContentColor);
  
  margin: 0.5rem 0.5rem;
  
  margin-bottom:0em;
  
  background: var(--tableTagContainerColor);

}
.tab760stickToTop {

  z-index:111;
  
  background-color:black;
  
  /* position: sticky; */
  
  top:0px;
  
  overflow:hidden;
  
  /* width:100%; */
}
