
.car489red {

  color: var(--pageRedColorConfirmBox);

}

.car489red:hover {
  
  background-color: var(--pageRedColorConfirmBoxOnHover);

}

.car489blue {
  
  color: var(--pageBlueColorTestedBox);

}

.car489blue:hover {
  
  background-color : var(--pageBlueColorTestedBoxOnHover);

}

.car489green {
  
  color: var(--pageGreenColorRecoveredBox);

}

.car489green:hover {
  
  background-color: var(--pageGreenColorRecoveredBoxOnHover);

}

.car489default {
  
  color:var(--pageContentColor);

}

.car489default:hover {
  
  background-color: var(--defaultOnHoverTableContentColor);

}

.car890CardInnerContainer {

  border-radius: 5px;
  
  transition-duration: 0.5s;
  
  width:15%;
  
  padding:2em 1em;
  
  text-align: center;
  
  cursor:pointer;

}

.car890CardInnerContainer .car890Count {

  font-weight: bold;
  
  font-size:1.4em;
  
  margin:0.7em 0em;
  
  letter-spacing: 1px;

}

.car890CardInnerContainer .car890Title {
  
  font-size:1em;
  
  font-weight:bold;
  
  margin:1.2em 0em;

}
