
.car489red {
  color:rgba(255,7,58,.6);
}

.car489red:hover {
  background-color:rgba(255, 7, 58, 0.125);
}

.car489blue {
  color:#007bff;
}

.car489blue:hover {
  background-color:rgba(0, 123, 255, 0.125) ;
}

.car489green {
  color:#28a745;
}

.car489green:hover {
  background-color: rgba(40, 167, 69, 0.125);
}

.car489default {
  color:#bdbdbd;
}

.car489default:hover {
  background-color:rgba(108, 117, 125, 0.125);
}

.car890CardInnerContainer {
  border-radius: 5px;
  transition-duration: 0.5s;
  width:15%;
  padding:2em 1em;
  text-align: center;
  cursor:pointer;
}

.car890CardInnerContainer .car890Count {
  font-weight: bold;
  font-size:1.4em;
  margin:0.5em 0em;
  letter-spacing: 1px;
}

.car890CardInnerContainer .car890Title {
  font-size:0.8em;
  margin:1.2em 0em;
}
