.bo385BoxContent {

  font-size:0.9em;

  color:var(--pageContentColor);

  text-transform: capitalize;

  letter-spacing: 0.5px;

  font-weight: bold;

  width:100%;

  transition-duration: 0.5s;

}

.bo385BoxContent:hover {

  background: var(--defaultOnHoverTableContentColor);

}

.bo385BoxContent a {

  display: flex;

  border-bottom: 1px solid var(--searchDropDownBoxBorderBottomColor);

  color:var(--pageContentColor);

  text-decoration: none;

  padding:1em 1em;

  width:100%;

  justify-content: space-between;

}

.bo385BoxTag {

  margin-left:1em;

  padding: 0px 5px;

  border-radius: 3px;

  font-weight: bold;

  color : var(--searchDropDownTagColor);

  background-color:var(--searchDropDownTagBackgroundColor);

  transition-duration: 0.5s;

}

.bo378BoxInnerContainer {

  width: 100%;

  border: 1px solid var(--defaultOnHoverTableContentColor);

  text-align: center;

  background : var(--pageBackgroundColor);

  z-index: 1;

  position: absolute;

  top:0px;

}

.bo385BoxContainer {

  margin: -1.68em 0em;

  display:flex;

  justify-content: center;
  
  align-items: center;
  
  width:100%;

  position: relative;
  
}

.bo378BoxInnerStrong {

  color : var(--searchDropDownTagColor);
  text-transform: unset;

}
